.new-game-setup {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-game-help-text {
  width: 100%;
  font-size: 30px;
}

.characters {
  margin-bottom: 40px;
}

.start-game-container {
  width: 100%;
  display: inline-block;
}