.new-game-setup {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-game-help {
  width: 100%;
  font-size: 30px;
  height: 60px;
}

.new-game-help-text.error {
  text-decoration: underline;
  text-decoration-color: red;
}

.start-game {
  margin-left: 30px;
  vertical-align: top;
  width: 150px;
  height: 40px;
}
