.dungeon-container {
  width: 850px;
  height: 850px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 40px;
  background: #222;
  overflow: hidden;
  position: relative;
}

.dungeon {
  border-collapse: collapse;
}

.row, .cell {
  margin: 0;
  padding: 0;
}