<div class="active-player">
  <div class="left-content">
    <div class="name">
      {{getActivePlayer().character.name}}
    </div>
    <div class="ability-1">
      <button>
        Ability 1
      </button>
    </div>
    <div class="ability-2">
      <button>
        Ability 2
      </button>
    </div>
  </div>
  <div class="right-content">
    <button class="end-turn-button" (click)="endTurn()" [disabled]="endTurnDisabled()">
      End Turn
    </button>
    <div class="actions">
      Actions Left: {{getActivePlayer().getActionsRemaining()}}
    </div>
  </div>
</div>
