<div *ngIf="player.isInCombat()" class="monster-battle">

  <div class="monster-container">
    <img class="monster" src="{{player.getActiveMonster()!.imageUrl}}">
  </div>

  <div class="vs">
    VS
  </div>

  <div class="roll-container">
    <button *ngIf="!player.hasMadeCombatRoll()"
      class="roll"
      (click)="player.makeCombatRoll()">Roll</button>
    <div *ngIf="player.hasMadeCombatRoll()"
        class="roll-result">
      <div class="die one">
        <img src="{{getDieOneImageUrl()}}">
      </div>
      <div class="die two">
        <img src="{{getDieTwoImageUrl()}}">
      </div>
      <div class="equals">
        =
      </div>
      <div class="combat-result {{getCombatResultClass()}}">
        {{player.getCombatStrength()}}
      </div>
    </div>
  </div>

  <button *ngIf="player.canConfirmCombatResult()"
      class="confirm {{getCombatResultClass()}}"
      (click)="player.confirmCombatResult()">
    {{getConfirmText()}}
  </button>

</div>
