<div class="monster-battle">

  <div class="combat-text">
    <div class="combat-title">
      Fight the {{player.getActiveMonster()!.getName()}}!
    </div>
    <div *ngIf="hasCombatAbilityOneText()"
        class="combat-ability"
        [ngClass]="{'cursed': player.isCursed()}">
      <button *ngIf="showCombatAbilityButton()"
          class="combat-ability-button"
          [ngClass]="{'combat-ability-active': player.isCombatAbilityActive()}"
          [disabled]="!player.isCombatAbilityButtonEnabled()"
          (click)="player.handleCombatAbilityButtonClick()">
        {{player.getCombatAbilityButtonText()}}
      </button>
      {{player.getCombatAbilityOneText()}}
    </div>
    <div *ngIf="hasCombatAbilityTwoText()"
        class="combat-ability"
        [ngClass]="{'cursed': player.isCursed()}">
      {{player.getCombatAbilityTwoText()}}
    </div>
  </div>

  <div class="combat-content">
    <div class="monster-container">
      <img class="monster" src="{{player.getActiveMonster()!.imageUrl}}">
    </div>
  
    <div class="vs">
      VS
    </div>
  
    <div class="roll-container">
      <button *ngIf="!player.hasMadeCombatRoll()"
        class="roll"
        (click)="player.makeCombatRoll()">Roll</button>
      <div *ngIf="player.hasMadeCombatRoll()"
          class="roll-result">

        <div class="reroll-control">
          <div class="die-columns">
            <div class="die-column">
              <div class="die one">
                <img src="{{getDieOneImageUrl()}}">
              </div>
              <button *ngIf="player.canRerollDieOne()"
                  class="die-reroll"
                  (click)="player.rerollDieOne()">
                Reroll
              </button>
            </div>
    
            <div class="die-column">
              <div class="die two">
                <img src="{{getDieTwoImageUrl()}}">
              </div>
              <button *ngIf="player.canRerollDieTwo()"
                  class="die-reroll"
                  (click)="player.rerollDieTwo()">
                Reroll
              </button>
            </div>
          </div>

          <button *ngIf="player.canRerollCombat()"
              class="reroll-combat"
              (click)="player.rerollCombat()">
            Reroll
          </button>
        </div>

        <div *ngIf="player.getCombatBonus() > 0" class="plus">
          +
        </div>
        <div *ngIf="player.getCombatBonus() > 0" class="combat-bonus">
          {{player.getCombatBonus()}}
        </div>
        <div class="equals">
          =
        </div>
        <div class="combat-result {{getCombatResultClass()}}">
          {{player.getCombatStrength()}}
        </div>
      </div>
    </div>
  
    <button *ngIf="player.hasMadeCombatRoll()"
        class="confirm {{getCombatResultClass()}}"
        [disabled]="!player.canConfirmCombatResult()"
        (click)="confirmCombatResult()">
      {{getConfirmText()}}
    </button>
  </div>
</div>
