.monster-battle {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #111;
  border: 2px solid orangered;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

.monster-container {
  width: 100px;
  height: 100px;
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 1px 1px black;
  margin-right: 30px;
}

.monster {
  width: 100%;
}

.vs {
  font-size: 35px;
  margin-right: 30px;
  margin-top: -6px;
}

.roll-container, .roll-result {
  display: inline-flex;
}

.roll {
  width: 100px;
  height: 40px;
}

.roll, .die {
  display: inline-block;
}

.die {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  overflow: hidden;
  border-radius: 9px;
  margin-right: 10px;
}

.die > img {
  width: 67.5px;
  background: white;
  margin-left: -9px;
  margin-top: -9px;
}

.plus {
  font-size: 35px;
  margin-right: 3px;
  color: var(--bonus_color);
}

.combat-bonus {
  font-size: 35px;
  margin-right: 10px;
  color: var(--bonus_color);
}

.equals {
  font-size: 35px;
  margin-right: 10px;
}

.combat-result {
  font-size: 35px;
  margin-right: 30px;
}

.combat-result.win {
  color: var(--win_color);
}

.combat-result.loss {
  color: var(--loss_color);
}

.combat-result.tie {
  color: var(--tie_color);
}

.confirm {
  width: 120px;
  height: 70px;
}

.confirm.win {
  border-color: var(--win_color);
}

.confirm.loss {
  border-color: var(--loss_color);
}

.confirm.tie {
  border-color: var(--tie_color);
}