.player {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 1px 1px black;
}

.player.active {
  border: 2px solid var(--player_active);
}

.player > img {
  width: 100%;
}

.player {
  bottom: 5px;
}

.player.active {
  top: 5px;
  right: 5px;
}

.player.index0 {
  left: 5px;
}

.player.index1 {
  left: 28px;
}

.player.index2 {
  left: 51px;
}

.player.index3 {
  left: 74px;
}
