.player-sheet {
  border: 3px solid transparent;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 186px;
  position: relative;
  background-color: #111;
}

.player-sheet.active {
  border: 3px solid var(--player_active);
  height: 228px;
}

.sheet {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.hp-container {
  position: absolute;
  top: 11px;
  left: 10px;
}

.hp-slot {
  display: block;
  margin-bottom: 4px;
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
}

.hp-slot > img {
  width: 100%;
}

.character-image {
  width: 120px;
  position: absolute;
  left: 50px;
  top: 13px;
}

.character-image.dead {
  filter: brightness(30%);
}

.treasure {
  position: absolute;
  left: 130px;
  top: 16px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
}

.treasure > img {
  width: 100%;
}

.treasure-value {
  font-size: 12px;
  position: absolute;
  left: 136px;
  top: 16px;
  color: black;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.8);
}

.curse {
  position: absolute;
  left: 53px;
  top: 16px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  border: 1px solid black;
}

.curse > img {
  width: 100%;
}

.weapon {
  width: 48px;
  height: 47px;
  left: 181px;
  position: absolute;
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid black;
}

.weapon.one {
  top: 13px;
}

.weapon.two {
  top: 69px;
}

.skeleton-key {
  width: 48px;
  height: 47px;
  top: 125px;
  left: 181px;
  position: absolute;
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid black;
}

.spell {
  width: 48px;
  height: 47px;
  left: 237px;
  position: absolute;
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid black;
}

.spell.one {
  top: 13px;
}

.spell.two {
  top: 69px;
}

.spell.three {
  top: 125px;
}

.item > img {
  width: 100%;
}

.item.item-active {
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 13px;
  border: 3px solid var(--bonus_color);
}

.end-turn {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.actions-remaining {
  position: absolute;
  right: 10px;
  bottom: 10px;
}