<div [ngClass]="{
      'player-sheet': true,
      'active': player.isActive()
    }">
  <img class="sheet" src="/images/character/character_sheet.jpg">

  <div class="hp-container">
    <div class="hp-slot one">
      <img src="{{getHpSlotImageUrl(1)}}">
    </div>
    <div class="hp-slot two">
      <img src="{{getHpSlotImageUrl(2)}}">
    </div>
    <div class="hp-slot three">
      <img src="{{getHpSlotImageUrl(3)}}">
    </div>
    <div class="hp-slot four">
      <img src="{{getHpSlotImageUrl(4)}}">
    </div>
    <div class="hp-slot five">
      <img src="{{getHpSlotImageUrl(5)}}">
    </div>
  </div>

  <img [ngClass]="{
        'character-image': true
      }"
      [@deadAlive]="player.isDead() ? 'dead' : 'alive'"
      src="{{player.getImageUrl()}}">

  <div *ngIf="player.getTreasure() > 0" class="treasure">
    <img src="/images/token/treasure_open.jpg">
  </div>
  <div *ngIf="player.getTreasure() > 0" class="treasure-value">
    {{player.getTreasure()}}
  </div>

  <div *ngIf="player.isCursed()" class="curse">
    <img src="/images/token/curse.jpg">
  </div>

  <button *ngIf="showPlayerAbilityButton()"
      class="player-ability"
      [disabled]="!player.isPlayerAbilityButtonEnabled()">
    {{player.getPlayerAbilityButtonText()}}
  </button>

  <div *ngIf="player.getWeaponOne() != null"
      class="item weapon one"
      [ngClass]="{'item-active': player.hasMadeCombatRoll()}">
    <img src="{{player.getWeaponOne()!.imageUrl}}">
  </div>
  <div *ngIf="player.getWeaponTwo() != null"
      class="item weapon two"
      [ngClass]="{'item-active': player.hasMadeCombatRoll()}">
    <img src="{{player.getWeaponTwo()!.imageUrl}}">
  </div>

  <div *ngIf="player.hasSkeletonKey()" class="item skeleton-key">
    <img src="{{player.getSkeletonKey()!.imageUrl}}">
  </div>

  <div *ngIf="player.getSpellOne() != null"
      class="item spell one"
      [ngClass]="{'item-active': isSpellActive(player.getSpellOne())}"
      (click)="clickSpell(player.getSpellOne()!)">
    <img src="{{player.getSpellOne()!.imageUrl}}">
  </div>
  <div *ngIf="player.getSpellTwo() != null"
      class="item spell two"
      [ngClass]="{'item-active': isSpellActive(player.getSpellTwo())}"
      (click)="clickSpell(player.getSpellTwo()!)">
    <img src="{{player.getSpellTwo()!.imageUrl}}">
  </div>
  <div *ngIf="player.getSpellThree() != null"
      class="item spell three"
      [ngClass]="{'item-active': isSpellActive(player.getSpellThree())}"
      (click)="clickSpell(player.getSpellThree()!)">
    <img src="{{player.getSpellThree()!.imageUrl}}">
  </div>

  <div *ngIf="player.isActive()">
    <button class="end-turn" (click)="endTurn()" [disabled]="endTurnDisabled()">
      End Turn
    </button>
    <div class="actions-remaining">
      Actions: {{player.getActionsRemaining()}}
    </div>
  </div>

  <app-monster-battle *ngIf="player.isInCombat()"
      [player]="player">
  </app-monster-battle>

  <app-player-select *ngIf="player.isCastingHealingTeleport()"
      [player]="player"
      selectionTitle="Select a player and a healing tile to teleport">
  </app-player-select>

  <app-player-select *ngIf="player.isMovingCurse()"
      [player]="player"
      selectionTitle="Select a player to curse">
  </app-player-select>

  <app-reincarnate *ngIf="player.isReincarnating()" [player]="player">
  </app-reincarnate>

</div>
