.player-sheet {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 200px;
}

.player-sheet.active {
  border: 2px solid gold;
}

.character-image {
  width: 150px;
}
