<div [ngClass]="{
      'player-sheet': true,
      'active': player.isActive()
    }">
  <img class="sheet" src="/images/character/character_sheet.jpg">

  <div class="hp-container">
    <div class="hp-slot one">
      <img src="{{getHpSlotImageUrl(1)}}">
    </div>
    <div class="hp-slot two">
      <img src="{{getHpSlotImageUrl(2)}}">
    </div>
    <div class="hp-slot three">
      <img src="{{getHpSlotImageUrl(3)}}">
    </div>
    <div class="hp-slot four">
      <img src="{{getHpSlotImageUrl(4)}}">
    </div>
    <div class="hp-slot five">
      <img src="{{getHpSlotImageUrl(5)}}">
    </div>
  </div>

  <img class="character-image" src="{{player.character.imageUrl}}">

  <div *ngIf="player.isActive()">
    <button class="end-turn" (click)="endTurn()" [disabled]="endTurnDisabled()">
      End Turn
    </button>
    <div class="actions-remaining">
      Actions: {{player.getActionsRemaining()}}
    </div>
  </div>

  <app-monster-battle [player]="player"></app-monster-battle>

</div>
