<div [ngClass]="{
      'player-sheet': true,
      'active': player.isActive()
    }">
  <img class="sheet" src="/images/character/character_sheet.jpg">

  <div class="hp-container">
    <div class="hp-slot one">
      <img src="{{getHpSlotImageUrl(1)}}">
    </div>
    <div class="hp-slot two">
      <img src="{{getHpSlotImageUrl(2)}}">
    </div>
    <div class="hp-slot three">
      <img src="{{getHpSlotImageUrl(3)}}">
    </div>
    <div class="hp-slot four">
      <img src="{{getHpSlotImageUrl(4)}}">
    </div>
    <div class="hp-slot five">
      <img src="{{getHpSlotImageUrl(5)}}">
    </div>
  </div>

  <img [ngClass]="{
        'character-image': true
      }"
      [@deadAlive]="player.isDead() ? 'dead' : 'alive'"
      src="{{player.character.imageUrl}}">

  <div *ngIf="player.getTreasure() > 0" class="treasure">
    <img class="sheet" src="/images/token/treasure_open.jpg">
  </div>
  <div *ngIf="player.getTreasure() > 0" class="treasure-value">
    {{player.getTreasure()}}
  </div>

  <div *ngIf="player.getWeaponOne() != null" class="weapon one"
      [ngClass]="{'weapon-active': player.hasMadeCombatRoll()}">
    <img src="{{player.getWeaponOne()!.imageUrl}}">
  </div>
  <div *ngIf="player.getWeaponTwo() != null" class="weapon two"
      [ngClass]="{'weapon-active': player.hasMadeCombatRoll()}">
    <img src="{{player.getWeaponTwo()!.imageUrl}}">
  </div>

  <div *ngIf="player.hasSkeletonKey()" class="skeleton-key">
    <img src="{{player.getSkeletonKey()!.imageUrl}}">
  </div>

  <div *ngIf="player.isActive()">
    <button class="end-turn" (click)="endTurn()" [disabled]="endTurnDisabled()">
      End Turn
    </button>
    <div class="actions-remaining">
      Actions: {{player.getActionsRemaining()}}
    </div>
  </div>

  <app-monster-battle [player]="player"></app-monster-battle>

</div>
