<div class="header">
  <img src="/images/banner.jpg" class="banner">
  <img src="/images/logo.jpg" class="logo" (click)="navigateHome()">
  <div class="rules">
    <a href="/pdf/rules.pdf" target="_blank">Rulebook</a>
  </div>
  <div *ngIf=getNavigationTitle() class="navigation-title">{{getNavigationTitle()}}</div>
  <audio class="audio-controls" controls loop>
    <source src="/audio/honor.mp3" type="audio/mpeg">
    <!-- <source src="/audio/mists.mp3" type="audio/mpeg"> -->
  </audio>
</div>

<div class="app-background">
</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="horizon-attribution">
    Trademarks are the property of their respective owners.
    Game content and materials (c) Outset Media Corp.
    All rights reserved.
  </div>
</div>
