.cell {
  width: 120px;
  height: 120px;
  border: 1px solid white;
  position: relative;
}

.cell.empty {
  border: 1px dashed gray;
}

.tile {
  width: 100%;
}

.token-container {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 17px;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 1px 1px black;
}

.token {
  width: 100%;
}

.players {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 70%);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.player {
  border-bottom: 1px solid white;
}
.player.active {
  color: gold;
}

.player:last-child {
  border-bottom: none;
}

.move {
  top: 3px;
  right: 3px;
  width: 60px;
  height: 35px;
  position: absolute;
  font-size: 16px;
}

.pick-up, .explore, .confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 80px;
  height: 35px;
}

.pick-up {
  top: 80%;
}

.clockwise, .counter-clockwise {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 10px;
  z-index: 1;
}

.clockwise {
  right: -20px;
}

.counter-clockwise {
  left: -20px;
}
