<div [ngClass]="{
      'cell': true,
      'empty': cell.isEmpty()
    }">

  <img *ngIf="cell.hasTile()"
      class="tile"
      src="{{cell.getTile()!.imageUrl}}"
      [style.transform]="getTileRotationTransform()">

  <div *ngIf="cell.hasToken()" class="token-container">
    <img class="token" src="{{cell.getToken()!.imageUrl}}">
  </div>

  <app-player *ngIf="getActivePlayerInCell() != null"
      [player]="getActivePlayerInCell()!" [index]="-1">
  </app-player>
  <app-player *ngFor="let player of getInactivePlayersInCell(); let i = index"
      [player]="player" [index]="i">
  </app-player>

  <button *ngIf="cell.isMoveable()"
      class="move"
      (click)="move()">Move</button>

  <button *ngIf="cell.canPickupItem()"
      class="pick-up"
      (click)="pickUp()">Pick Up</button>

  <button *ngIf="cell.isExplorable()"
      class="explore"
      (click)="explore()">Explore</button>

  <button *ngIf="cell.isConfirmingExplore()"
      class="confirm"
      [disabled]="confirmDisabled()"
      (click)="confirmExplore()">Confirm</button>
  <button *ngIf="cell.isConfirmingExplore()"
      class="clockwise"
      (click)="rotateClockwise()">CW</button>
  <button *ngIf="cell.isConfirmingExplore()"
      class="counter-clockwise"
      (click)="rotateCounterClockwise()">CCW</button>

  <app-weapon-swap *ngIf="isSwappingWeapons()" [player]="getActivePlayerInCell()!">
  </app-weapon-swap>

</div>
