.cell {
  width: 120px;
  height: 120px;
  border: 1px solid white;
  position: relative;
}

.cell.empty {
  border: 1px dashed gray;
}

.tile {
  width: 100%;
}

.players {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 70%);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.player {
  border-bottom: 1px solid white;
}

.player:last-child {
  border-bottom: none;
}

.move, .explore, .confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.clockwise, .counter-clockwise {
  position: absolute;
  top: -10px;
  width: 40px;
  height: 20px;
  font-size: 10px;
  z-index: 1;
}

.clockwise {
  right: -20px;
}

.counter-clockwise {
  left: -20px;
}