<div [ngClass]="{
      'cell': true,
      'empty': cell.isEmpty()
    }"
    (click)="onClick()">

  <img *ngIf="cell.hasTile()" class="tile" src="{{cell.getTile()!.imageUrl}}">

  <div *ngIf="hasPlayers()" class="players">
    <div *ngFor="let player of getPlayers()" class="player">
      {{player.character.shortName}}
    </div>
  </div>

  <div *ngIf="cell.isExplorable()" class="explore">
    <button (click)="explore()">Explore</button>
  </div>

  <div *ngIf="cell.isConfirmingExplore()" class="explore">
    <button (click)="confirmExplore()">Confirm</button>
  </div>
</div>
