<div [ngClass]="{
      'cell': true,
      'empty': cell.isEmpty()
    }"
    (click)="onClick()">

  <img *ngIf="cell.hasTile()"
      class="tile"
      src="{{cell.getTile()!.imageUrl}}"
      [style.transform]="getTileRotationTransform()">

  <div *ngIf="hasPlayers()" class="players">
    <div *ngFor="let player of getPlayers()" class="player">
      {{player.character.shortName}}
    </div>
  </div>

  <button *ngIf="cell.isMoveable()"
      class="move"
      (click)="move()">Move</button>

  <button *ngIf="cell.isExplorable()"
      class="explore"
      (click)="explore()">Explore</button>

  <button *ngIf="cell.isConfirmingExplore()"
      class="confirm"
      [disabled]="confirmDisabled()"
      (click)="confirmExplore()">Confirm</button>
  <button *ngIf="cell.isConfirmingExplore()"
      class="clockwise"
      (click)="rotateClockwise()">CW</button>
  <button *ngIf="cell.isConfirmingExplore()"
      class="counter-clockwise"
      (click)="rotateCounterClockwise()">CCW</button>
</div>
