:root {
  --background_color: #333;
  --foreground_color: #fff;
  --hover_color: #555;

  --header_height: 100px;

  --player_active: goldenrod;

  --selected_color: deepskyblue;

  --bonus_color: deepskyblue;
  --win_color: forestgreen;
  --loss_color: crimson;
  --tie_color: orange;

  --z_dialog: 101;
  --z_dialog_background: 100;

  --z_app_background: -1;
}